<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="しろくまエディターですよ"
            extensions="xml"
            icon="icons/bear.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="shirokumaeditorplugin.editors.ShirokumaEditor"
            id="shirokumaeditorplugin.editors.ShirokumaEditor">
      </editor>
   </extension>

</plugin>
